<h1>
    <marquee behavior="alternate" scrollamount ="700">Bem-vindo(a)" Já sou um desenvolvedor .NET!!!"</marquee>
</h1>

<marquee behavior="alternate" scrollamount="50">
    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/fa560e8d-863f-4486-9546-7c46876a0b5f-profile_image-300x300.png" alt="Foto Dev" style="vertical-align: middle; height: 200px; width: auto;">
</marquee>

<marquee behavior="alternate" scrollamount="70">
    <img src="https://i.pinimg.com/736x/f7/f2/a9/f7f2a9726a29b3f2666ef6664bb9e024.jpg" alt="Foto Dev" style="vertical-align: middle; height: 200px; width: auto;">
</marquee>

