@{
    ViewData["Title"] = "Eureca";
}

<h1>@ViewData["Title"]</h1>
<marquee behavior="alternate" scrollamount="30">
    <div class="tenor-gif-embed" data-postid="18664480" data-share-method="host" data-aspect-ratio="0.990625" data-width="20%"><a href="https://tenor.com/view/alanzoka1-gif-18664480">Alanzoka1 GIF</a>from <a href="https://tenor.com/search/alanzoka1-gifs">Alanzoka1 GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</marquee>
<marquee behavior="alternate" scrollamount="50">
    <div class="tenor-gif-embed" data-postid="23898784" data-share-method="host" data-aspect-ratio="1" data-width="10%"><a href="https://tenor.com/view/rock-raised-eyebrows-gif-23898784">Rock Raised Eyebrows GIF</a>from <a href="https://tenor.com/search/rock-gifs">Rock GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>>
</marquee>

